.calender-container .day-container {
	overflow: hidden;
}
.calender-container .day {
	width: 6.25%;
	background: #fff;
	float: left;
	padding: 10px 0 8px 0;
	cursor: pointer;
	border-bottom: 2px solid transparent;
}
.calender-container .text-center {
	text-align: center;
}
.calender-container .day.today {
	background: #ffb400;
	color: #fff;
	border-bottom: 2px solid #ffb400;
	position:relative;
}
.calender-container .day > .day-number {
	font-size: 20px;
	color: #212121;
	line-height: 1.5em;
}
.calender-container .day > .day-week {
	font-size: 12px;
	color: #999;
	line-height: 1.5em;
}
.calender-container .day.active {
	background: #2196f3;
	color: #fff;
	border-bottom: 2px solid #2196f3;
}
.calender-container .today:before{
	content:'今';
	display:block;
	position:absolute;
	right: 2px;
	top:2px;
	font-size:12px;
}
.calender-container .today > div, .day.active > div {
	color: #fff !important;
}
.calender-container .day:not(.today):hover > div {
	color: #2196f3;
}
.calender-container .day:not(.today):hover {
	border-bottom: 2px solid #2196f3;
}
.calender-container .calender-header {
	position: relative;
	height: 50px;
}
.calender-container .left-back {
	color: #1976d2;
	height: 30px;
	position: absolute;
	left: 10px;
	top: 10px;
	line-height: 30px;
	cursor: pointer;
}
.calender-container .center-control {
	width: 170px;
	height: 30px;
	position: absolute;
	left: 50%;
	top: 10px;
	margin-left: -85px;
	text-align:center;
}
.calender-container .center-control .text-date {
	font-size: 16px;
	color: #212121;
}
.calender-container .text-date.month-text {
	font-weight: bold;
	margin-right: 5px;
	width: 4em;
}
.calender-container .center-control .control {
	text-align: center;
	line-height: 30px;
	padding: 10px;
	cursor: pointer;
}
@media screen and (max-width: 768px) {
	.calender-container .day {
		width: 12.5%;
	}
}